.str-chat__channel-search-bar-button.str-chat__channel-search-bar-button--menu {
	position: relative;
	z-index: 10;

	& path {
		fill: var(--str-chat__primary-color);
	}
}
.str-chat__header-hamburger path {
	fill: var(--str-chat__primary-color);
}

.app-menu__container {
	position: absolute;
	top: 50px;
	left: 10px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 0 8px var(--str-chat__box-shadow-color);
}

.app-menu__item-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.app-menu__item {
	list-style: none;
	margin: 0;
	padding: 0.5rem 1rem;

	&:hover {
		background-color: lightgrey;
		cursor: pointer;
	}
}
